@import "color.css";
@import "font.css";


.text-nav-bar {
	font-size: var(--header2);
	font-weight: 700;
	color: #fff;
}

.text-header {
	font-size: var(--header1);
	font-weight: 700;
	color: #fff;
}

.main-button {
	background-color: var(--red-cover-pink);
	border: 1px solid var(--red-rose);
	border-radius: 100px;
}

.main-button-outline {
	background-color: var(--primary);
	border: 1px solid var(--red-rose);
	border-radius: 100px;
}