@import "color.css";
@import "font.css";

body {
	background-color: var(--primary);
}

.text-nav-bar {
	font-size: var(--header2);
	font-weight: 700;
	color: #fff;
}

.text-header {
	font-size: var(--header1);
	font-weight: 700;
	color: #fff;
}

.main-button {
	background-color: var(--red-cover-pink);
	border: 1px solid var(--red-rose);
	border-radius: 100px;
}

.main-button-outline {
	background-color: var(--primary);
	border: 1px solid var(--red-rose);
	border-radius: 100px;
}

.btn-button-primary {
	color: #fff;
	background-color: var(--primary);
	border-radius: 100px;
}

.input-field {
	width: 100%;
  padding: 8px 29px;
  border: 1px solid var(--blue-ocean);
  border-radius: 100px;
  box-sizing: border-box;
	background-color: var(--primary);
	color: #fff;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
}

.image-fit-width {
	object-fit: cover;
}

.box-primary {
	border: 1px solid var(--blue-ocean);
	background-color: var(--primary);
}